Create a zoo.py file first. Define the hpurs() function, which prints the string 'Open 9-5 daily'. Then, use the interactive interpreter to import the zoo module and call its hours() function.

In [10]:
import zoo
from importlib import reload
reload(zoo)

zoo.hours()

Open 9-5 daily

In the interactive interpreter, import the zoo module as menagerie and call its hours() function.

In [11]:
import zoo as menagerie
menagerie.hours()

Open 9-5 daily

Create a CSV file called books.csv by using these lines: title,author,year The Weirdstone of Brisingamen,Alan Garner,1960 Perdido Street Station,China Miéville,2000 Thud!,Terry Pratchett,2005 The Spellman Files,Lisa Lutz,2007 Small Gods,Terry Pratchett,1992

In [ ]:
import csv
rows =[ ['title','author','year'],
    ['The Weirdstone of Brisingamen','Alan Garner',1960],
    ['Perdido Street Station','China Miéville',2000],
    ['Thud!','Terry Pratchett',2005],
    ['The Spellman Files','Lisa Lutz',2007],
    ['Small Gods','Terry Pratchett',1992]]
with open('books.csv','w',newline='') as file:
    writer = csv.writer(file)
    writer.writerows(rows)

Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer) Read books2.csv and insert its data into the book table.

In [ ]:
import sqlite3
conn = sqlite3.connect('books.db')
c = conn.cursor()

c.execute('create table books(title varchar(20),author varchar(20), year int)')
conn.commit()

Read books.csv and insert its data into the book table.

In [ ]:
import pandas as pd

read_books = pd.read_csv('books.csv',encoding='unicode_escape')
read_books.to_sql('books', conn, if_exists='append', index = False)

 Select and print the title column from the book table in alphabetical order.

In [19]:
c.execute('select title from books order by title asc')
print(c.fetchall())

[]

From the book table, select and print all columns in the order of publication.

In [ ]:
c.execute('select title, author,year from books order by year')


df = pd.DataFrame(c.fetchall(), columns=['title','author','year'])
df

Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [ ]:
import sqlalchemy
engine = sqlalchemy.create_engine("sqlite:///books.db")
rows = engine.execute('select * from books')
for i in rows:
    print(i)